Source: bhtsne
Section: misc
Priority: optional
Maintainer: Willy Scheibel <willy.scheibel@cginternals.com>
Build-Depends: build-essential, cmake (>= 3.0.0) | cmake3, doxygen, graphviz, gcc-5
Standards-Version: 3.8.0

Package: bhtsne
Architecture: any
Homepage: https://github.com/hpicgs/bhtsne
Description: This software package contains a Barnes-Hut implementation of the t-SNE algorithm.
