#!/usr/bin/make -f

BUILDDIR = build

# firstly called by launchpad
clean:
	rm -rf $(BUILDDIR)

# secondly called by launchpad
build: build-arch

build-arch:
	mkdir $(BUILDDIR)
	cd $(BUILDDIR); if dpkg --compare-versions `dpkg -s g++ | grep '^Version: ' | grep -oP '.\..(\..)?'` lt 5; then export CXX=g++-5; fi; cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr -DOPTION_BUILD_TESTS=Off -DOPTION_BUILD_TOOLS=On -DOPTION_BUILD_DOCS=On ..
	make -C $(BUILDDIR)

# thirdly called by launchpad
binary: binary-arch

binary-arch: bhtsne

bhtsne:
	cd $(BUILDDIR); DESTDIR=../debian/tmp make install
	mkdir -p debian/tmp/DEBIAN
	dpkg-gencontrol -pbhtsne
	dpkg --build debian/tmp ..
	rm -rf debian/tmp

.PHONY: build build-arch binary binary-arch clean bhtsne
